* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Свойства для сброса начальных стилей элементов */

@font-face {
    font-family: Sen;
    src: url(./assets/fonts/Sen-Bold.eot?) format("eot"),
    url(./assets/fonts/Sen-Bold.woff2) format("woff2"),
    url(./assets/fonts/Sen-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Sen;
    src: url(./assets/fonts/Sen-Regular.eot?) format("eot"),
    url(./assets/fonts/Sen-Regular.woff2) format("woff2"),
    url(./assets/fonts/Sen-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bahnschrift;
    src: url(./assets/fonts/Bahnschrift.eot?) format("eot"),
    url(./assets/fonts/Bahnschrift.woff2) format("woff2"),
    url(./assets/fonts/Bahnschrift-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Подключение локальных шрифтов */

.navigation {
    background-color: #181823;
}

.nav {
    padding: 32px 72px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
}


.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.list-item__ref {
    font-family: Sen, sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 32px 24px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

.list-item__ref:hover {
    background-color: #5221E6;
}

.about {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 84px;
}


.about__photo {
    float: left;
}

h1 {
    font-family: Sen, sans-serif;
    font-size: 78px;
    font-weight: bold;
    margin-bottom: 32px;
    color: #ffffff;
}

.description__text {
    font-family: Sen, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}

.grey_paragraph {
    color: grey;
}

/* Стили для header */

.experience {
    display: flex;
    justify-content: space-between;
    padding-bottom: 144px;
    background-color: #000000;
    color: #fff;
    min-height: 715px;
}

.experience__companies {
    padding: 120px 72px;
}

.companies__description {
    color: #8491A0;
    font-family: Sen, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.companies_maintitle {
    font-family: Sen, sans-serif;
    font-size: 55px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 40px;
}

.companies_workfor {
    display: flex;
    justify-content: space-around;
    gap: 24px;

}

.workfor__item {
    color: #8491A0;
    font-family: Sen, sans-serif;
    font-size: 117px;
    font-weight: normal;
}

.workfor__title {
    color: #FFFFFF;
    font-family: Sen, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 22px;
}

.company1_title {
    color: #3CC74E;
}

.company2_title {
    color: #609BFF;
}

.company3_title {
    color: #E95D90;
}

.workfor__position {
    color: #8491A0;
    font-family: Sen, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/* Стили для work experience */

.philosophy {
    display: flex;
    justify-content: space-between;
    background-color: #FFF3E4;
    padding: 120px 72px;
}

.values__maintitle {
    font-family: Sen, sans-serif;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 24px;
}

.values__description {
    color: #8491A0;
    font-family: Sen, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 134px;
}

.values__link {
    color: #181823;
    text-decoration: underline;
    font-family: Sen, sans-serif;
    font-size: 16px;
    font-weight:normal;
}

.values__photo {
    width: 720px;
    height: 600px;
}

/* Стили для phylosophy and values */

.skillset {
    background-color: #000000;
    color: #fff;
    padding: 120px 72px;
    display: flex;
    justify-content: space-between;
    gap: 72px;
}

.skills__maintitle {
    font-family: Sen, sans-serif;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 24px;
}

.skills__description {
    color: #8491A0;
    font-family: Sen, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 48px;
} 

.skill__icon {
    margin-bottom: 24px;
}

.skill__title {
    margin-bottom: 12px;
    font-family: Sen, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.skill__description {
    color: #8491A0;
    font-family: Sen, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 48px;
}

.logos {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid grey;
    
}

/* Стили для skillset */

